@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body{
  background: #114683;
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1){
  color: #e8f1fb;
  }
section:nth-child(2){
  color: #114683;
  background: #e8f1fb;
} 
section:nth-child(3){
  color: #e8f1fb;
}
section:nth-child(4){
  color: #114683;
  background: #e8f1fb;
}
section:nth-child(5){
    color: #e8f1fb;
  }
section:nth-child(6){
    color: #114683;
    background: #e8f1fb;
  }
section:nth-child(7){
    color: #e8f1fb;
  }
section:nth-child(8){
    color: #114683;
    background: #e8f1fb;
  }
section .container{
  margin: 100px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #6ca2de;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}